@import url(‘https://fonts.googleapis.com/css?family=Poppins’);

html{
    background-color: black;
    font-family: Poppins;
}

body{
    color: aliceblue;
    text-align: center;
    font-size: 1.5em;
    margin: 50px;
}

.calc-container{
    font-size: 1.2em;
}

.highlighted-text{
    color:orange;
    text-decoration: underline;
    cursor:pointer;

}

#total-amount{
    color:orange;
}
